<ion-header [translucent]="true">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/tabs">Pokedex!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Informacion</a>
            </li>
          </ul>
          <form class="d-flex template-name" role="search">
            
            <ng-template [ngIf]="filtro == 'nombre-numero'">
              <input
                #buscar
                class="form-control me-2"
                type="search"
                placeholder="{{ textoBuscador }}"
                aria-label="Search"
              />
              <button
                (click)="buscarPokemon(buscar.value)"
                class="btn btn-primary"
                type="submit"
              >
                Buscar
              </button>
            </ng-template>

            <ng-template [ngIf]="filtro == 'generacion'">
              <select
                #buscar
                (change)="buscarPokemon(buscar.value)"
                class="form-select form-select form-control me-2"
                aria-label=".form-select example"
                style="width: 9rem"
              >
                <option
                  *ngFor="let generation of generations"
                  value="{{ generation }}"
                >
                  {{ generation }}
                  <p *ngIf="generation != 'Generación'">°</p>
                </option>
              </select>
            </ng-template>

            <ng-template [ngIf]="filtro == 'tipo'">
              <select
                #buscar
                (change)="buscarPokemon(buscar.value)"
                class="form-select form-select form-control me-2"
                aria-label=".form-select example"
                style="width: 10rem"
              >
                <option *ngFor="let type of types" value="{{ type.nombreOriginal }}">
                  {{ type.nombre }}
                </option>
              </select>
            </ng-template>
            
          </form>
          <select
            [value]="filtro"
            [(ngModel)]="filtro"
            class="form-select form-select filtro"
            aria-label=".form-select example"
            style="width: 16rem"
          >   
              <option value="seleccionar" selected>Selecciona un filtro</option>
              <option value="nombre-numero" >Filtrar por nombre y numero</option>
              <option value="generacion">Filtrar por generación</option>
              <option value="tipo" >Filtrar por tipo</option>
          </select>
        </div>
      </div>
   </nav>
</ion-header>
