<ion-header [translucent]="true">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/tabs">Pokedex!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <ng-template [ngIf]="filtroAux =='nombre-numero'">
              <input #buscar  class="form-control me-2" type="search" placeholder="{{textoBuscador}}" aria-label="Search" >
              <button (click)="buscarPokemon(filtro.value,buscar.value)"class="btn btn-outline-success" type="submit">Buscar</button>
            </ng-template>
            <ng-template [ngIf]="filtroAux =='generacion'">
              <select #buscar (change)="buscarPokemon(filtro.value,buscar.value)" class="form-select form-select form-control me-2" aria-label=".form-select example"  style="width: 9rem;">
                <option *ngFor="let generation of generations" value="{{generation}}">{{generation}}<p *ngIf="generation!='Generación'">°</p></option>
              </select>
            </ng-template>
            <ng-template [ngIf]="filtroAux =='tipo'">
              <select #buscar (change)="buscarPokemon(filtro.value,buscar.value)" class="form-select form-select form-control me-2" aria-label=".form-select example" style="width: 10rem;">
                <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
              </select>
            </ng-template>
          </form>
            <select id="combo" #filtro class="form-select form-select filtro" aria-label=".form-select example" (change)="cambiarFiltro(filtro.value)" style="width: 16rem;">
              <option value="nombre-numero" selected>Filtrar por nombre y numero</option>
              <option value="generacion"  >Filtrar por generación</option>
              <option value="tipo" >Filtrar por tipo</option>
            </select>
        </div>
      </div>
    </nav>
</ion-header>
