// GENERAL CSS PROPERTIES
.card{
   border: black 2px solid;
}
.card:hover{
    filter: brightness(1.2);
    transform: scale(1.08);
}

.center{
    text-align: center;
}

.load-more{
    margin-bottom: 4%;
}

.number-pokemon{
    color:white;
    font-weight: bold;
}

.name-pokemon{
    font-weight: bold;
    size: 50px;
 }
 
 .back{
     background-color: gray;
 }
 
 .pokemon{
    float: left;
}
 
.type{
    text-align: center;
    width: 5.3rem;
    margin-bottom: 15%;
    font-weight: bold;
    border-radius: 10%;
    border: black 2px solid;
    box-shadow: 2px 5px 15px black inset;
    padding-left: 5px;
    padding-right: 5px;
    size: 0.5px;
    color: white;
}

.found-pokemon h1{
    filter: brightness(1.5);
    font-family: 'pokemon';
    text-align: center;
    color: #ffcb05;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 60px;
    margin-top: 100px;
}


// CSS FOR DIFERENT DEVICES

/* CSS Extra Small devices (phones, 280px and down) */
@media only screen and (max-width: 280px) {
    .main-title{
        font-size: 30px;
        -webkit-text-stroke: #2a75bb 1px;
    }

    .column{
        margin-left: 11%;
        margin-right: 11%;
      }

    .card{
        width: 13rem;
        height: 21rem;
    }
}

/* CSS Extra Small devices (phones, 281px and up) */
@media only screen and (min-width: 281px) {
    .main-title{
        -webkit-text-stroke: #2a75bb 2px;
        font-size: 40px;
    }

    .column{
        margin-left: 15%;
        margin-right: 15%;
      }

    .card{
        width: 15rem;
        height: 23rem;
    }
}

/* CSS Extra Small devices (phones, 415px and up) */
@media only screen and (min-width: 415px) {

    .main-title{
        -webkit-text-stroke: #2a75bb 3px;
    }

    .column{
        margin-left: 22%;
        margin-right: 22%;
      }

}

/* CSS Extra Small devices (phones, 540px and up) */
@media only screen and (min-width: 540px) {
    .main-title{
        font-size: 50px;
    }

    .column{
        margin-left: 24%;
        margin-right: 24%;
      }
}

/* CSS Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .column{
        margin-left: 30%;
        margin-right: 30%;
      }

}


/* CSS Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-title{
        font-size: 60px;
    }

    .column{
        margin-left: 16%;
        margin-right: 16%;
      }
}

/* CSS Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-title{
        font-size: 70px;
    }

    .column{
        margin-left: 5%;
        margin-right: 5%;
    }

    .card{
        width: 13rem;
        height: 21rem;
    }
}

/* CSS Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-title{
        letter-spacing: 10px;
        font-size: 80px;
    }

    .column{
        margin-left: 12%;
        margin-right: 12%;
    }

}

