.card{
    width: 13rem;
    height: 21rem;
    border: black 2px solid;
}
.card:hover{
    filter: brightness(1.2);
    transform: scale(1.08);
}

.fire{
    background-color:#EE8130;
    
}

.grass{
    background-color:#7AC74C;
    
}

.center{
    text-align: center;
}

.load-more{
    margin-bottom: 1%;
}

.c{
    margin-left: 12%;
    margin-right: 12%;
  }

.number-pokemon{
    color:white;
    font-weight: bold;
}

.name-pokemon{
    font-weight: bold;
    size: 50px;
 }
 
 .back{
     background-color: gray;
 }
 
 .pokemon{
    float: left;
}
 
.type{
    text-align: center;
    width: 5.3rem;
    margin-bottom: 15%;
    font-weight: bold;
    border-radius: 10%;
    border: black 2px solid;
    box-shadow: 2px 5px 15px black inset;
    padding-left: 5px;
    padding-right: 5px;
    size: 0.5px;
    color: white;
}

 .mostrar{
    text-align: center;
    margin-top: 5%;
 }

