<ion-content [fullscreen]="true">
<ng-template [ngIf]="encontrado == 1">
<h1 class="mostrar">{{textoBusqueda}}</h1>
  <div class="row pokemon">
    <div
      *ngFor="let pokemon of pokemonesEncontrados"
      class="card mb-5"
      style="width: 16rem"
    >
      <img
        src="{{ pokemon.image }}"
        class="card-img-top back"
        style="width: 16rem"
        alt="..."
      />
      <div class="card-body">
        <p class="number-pokemon">№ {{pokemon.id}}</p>
        <h5 class="name-pokemon">
          {{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}
        </h5>
      </div>
      <div class="container">
        <div *ngFor="let item of pokemon.types">
          <div
            [ngClass]="{
              fire: item.type.name == 'fire',
              grass: item.type.name == 'grass',
              normal: item.type.name == 'normal',
              water: item.type.name == 'water',
              electric: item.type.name == 'electric',
              ice: item.type.name == 'ice',
              fighting: item.type.name == 'fighting',
              poison: item.type.name == 'poison',
              ground: item.type.name == 'ground',
              flying: item.type.name == 'flying',
              psychic: item.type.name == 'psychic',
              bug: item.type.name == 'bug',
              rock: item.type.name == 'rock',
              ghost: item.type.name == 'ghost',
              dragon: item.type.name == 'dragon',
              dark: item.type.name == 'dark',
              steel: item.type.name == 'steel',
              fairy: item.type.name == 'fairy'
            }"
            class="type"
          >
            <label for="">{{ item.type.name }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf] = "encontrado == -1">
  <div class="mostrar">
    <h1>
      Buscando ......
    </h1>
  </div>
</ng-template>

<ng-template [ngIf] = "encontrado == 0">
  <div class="mostrar">
    <h1>
      No se encontraron resultados con {{parametro}} : {{ termino }}
    </h1>
  </div>
</ng-template>

</ion-content>
