<ion-content [fullscreen]="true">
<ng-template [ngIf]="encontrado == 1">
  <div>
   <h1 class="mostrar">{{textoBusqueda}}</h1>
    <div class="row c">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let pokemon of pokemonesEncontrados.slice(0,cantidadMostrar)">
    <div *ngIf="pokemon.types!=undefined"
      class="card mb-5 pokemon"
      [ngStyle]="{'background':pokemon.types.length>1 ? confirmType(pokemon.types[0].type.name,pokemon.types[1].type.name):confirmTypeTwo(pokemon.types[0].type.name)}"> <a href="/detalles-pokemon/{{pokemon.id}}">
      <img
        src="{{ pokemon.image }}"
        class="card-img-top back"
        alt="{{pokemon.name}}"
      />
    </a>
      <div class="card-body">
        <p class="number-pokemon">№ {{pokemon.id}}</p>
        <h5 class="name-pokemon">
          {{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}
        </h5>
        <div class="row">
          <div class="col-6" *ngFor="let item of pokemon.types">
            <div [ngStyle]="{'background-color':tablaTipos.tablaTipos[item.type.name].color}"
              class="type"
            >
              <label for="">{{tablaTipos.tablaTipos[item.type.name].nombre}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="pokemonesEncontrados.length >10 && cantidadMostrar < pokemonesEncontrados.length" class="row">
  <div class="center">
    <button type="button" class="btn btn-primary load-more" (click)="addMoreAmount()">Cargar más</button>
  </div> 
</div>
</div>
</ng-template>

<ng-template [ngIf] = "encontrado == -1">
  <div>
    <h1 class="mostrar">
      Buscando ......
    </h1>
  </div>
</ng-template>

<ng-template  [ngIf] = "encontrado == 0">
  <div>
    <h1 class="mostrar">
      No se encontraron resultados con {{parametro}} : {{ termino }}
    </h1>
  </div>
</ng-template>

</ion-content>
