<ion-content [fullscreen]="true">
  <div class="pokemon-list">
    <h1 class="main-title">PoKeMoNéS</h1>
    <div class="row column">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 isolate" *ngFor="let pokemon of pokemones.slice(0,cantidadMostrar)">
        <div *ngIf="pokemon.types!=undefined" class="card mb-5" [ngStyle]="{'background':pokemon.types.length>1 ? confirmType(pokemon.types[0].type.name,pokemon.types[1].type.name):confirmTypeTwo(pokemon.types[0].type.name)}" >  
          <a href="/detalles-pokemon/{{pokemon.id}}">
            <img
              src="{{pokemon.image}}"
              class="card-img-top back"
              alt="{{pokemon.name}}"
            />
          </a>
          <div class="card-body">
            <p class="number-pokemon">№ {{pokemon.id}}</p>
            <h5 class="name-pokemon">
              {{pokemon.name[0].toUpperCase()+ pokemon.name.substring(1)}}
            </h5>
            <div class="row">
              <div class="col-6" *ngFor="let item of pokemon.types">
                <div  class="type"
                [ngStyle]="{'background-color': tablaTipos.tablaTipos[item.type.name]!= undefined ?tablaTipos.tablaTipos[item.type.name].color: 'white'}"
                >
                  <label *ngIf="tablaTipos.tablaTipos[item.type.name]!=undefined" for="">{{tablaTipos.tablaTipos[item.type.name].nombre}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <button type="button" class="btn btn-primary load-more" (click)="addMoreAmount()">Cargar más</button>
      </div> 
    </div>
  </div>
</ion-content>

