.main-title h1{
    text-align: center;
    color: red;
    margin-top: 60px;
}

.name-pokemon{
   font-weight: bold;
   size: 50px;
}

.back{
    background-color: gray;
}

.load-more{
  margin-bottom: 1%;
}

.center{
    text-align: center;
}

.c{
  margin-left: 12%;
  margin-right: 12%;
}

.number-pokemon{
    color:white;
    font-weight: bold;
}

.type{
     text-align: center;
     width: 5.3rem;
     margin-bottom: 15%;
     font-weight: bold;
     border-radius: 10%;
     border: black 2px solid;
     padding-left: 5px;
     padding-right: 5px;
     box-shadow: 2px 5px 15px black inset;
     size: 0.5px;
     color: white;
}
.card{
    width: 13rem;
    height: 21rem;
    border: black 2px solid;
}
.card:hover{
    filter: brightness(1.2);
    transform: scale(1.08);
}

.isolate {
    isolation: isolate;
  }




