.cadena-evolucion{
    padding: 2rem 5rem 5rem;
    border-radius: 20%;
    background-color: #B0E0E6;
    opacity: .8;
}

.column{
    padding: 1rem 2rem 4rem 2rem  ;
    background-color:#A9A9A9;
    opacity: .9 ;
}
.container h1{
    filter: brightness(1.5);
    font-family: 'pokemon';
    text-align: center;
    -webkit-text-stroke:#2a75bb 3px;
    color: #ffcb05;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.title-extra-data{
    font-weight: bold;
}

.texto-evolucion{
    font-weight: bold;
}

.card{
    width: 13rem;
    height: 20rem;
    border-width: 10px;
    margin: auto;
}

.table{
    background-color:#87CEEB;
    border: 1px solid black;
  }


.title-description{
   font-weight: bold;
}

.title-type{
   margin-top: 5%;
   font-weight: bold;
}
.button-version{
    background:transparent;
}

.title-version{
    margin-top: 20%;
    font-weight: bold;
 }

.description-pokemon{
    font-size: 20px;
    text-align: justify;
}

.type{
    justify-content: center;
    margin: 0 auto;
    float: left;
    font-weight: bold;
    border: black 3px solid;
    margin-left: 13%;
    margin-top: 2%;
    width: 10rem;
    color: white;
}
.debil{
    font-weight: bold;
    border: black 3px solid;
    margin-left: 13%;
    margin-top: 2%;
    width: 7rem;
    color: white;
}



