.column{
    margin-top: 5%;
}
.column h1{
    margin-top: 5%;
    font-size: 80px;
    font-weight: bold;
}

.title-extra-data{
    font-weight: bold;
}

.texto-evolucion{
    font-weight: bold;
}

.card{
    width: 13rem;
    height: 20rem;
    border-width: 10px;
    margin: auto;
}

.table{
    background-color:#D5A100;
    border: 1px solid black;
  }


.title-description{
   font-weight: bold;
}

.title-type{
   margin-top: 5%;
   font-weight: bold;
}
.button-version{
    background:transparent;
}

.title-version{
    margin-top: 20%;
    font-weight: bold;
 }

.description-pokemon{
    font-size: 20px;
    text-align: justify;
}

.type{
    justify-content: center;
    margin: 0 auto;
    float: left;
    font-weight: bold;
    border: black 3px solid;
    margin-left: 13%;
    margin-top: 2%;
    width: 10rem;
    color: white;
}
.debil{
    font-weight: bold;
    border: black 3px solid;
    margin-left: 13%;
    margin-top: 2%;
    width: 7rem;
    color: white;
}



