<ion-content class="main-container" [fullscreen]="true">
  <div class="main-container">
  <div class="container">
    <div class="row">
      <div *ngIf="pokemon.id!=1" class="col-2">
        <a href="/detalles-pokemon/{{pokemon.id-1}}"><div class="arrow arrow-left"></div></a>
      </div>
      <div [ngClass]="{'col-9':pokemon.id==1 || pokemon.id == 1010,
                       'col-8':pokemon.id!=1}">
        <h1 class="text-center main-title">{{ pokemon.name }} N°{{ pokemon.id }}</h1>
      </div>
      <div *ngIf="pokemon.id!=1010" class="col-2">
        <a href="/detalles-pokemon/{{pokemon.id+1}}"><div class="arrow arrow-right"></div></a>
      </div>
    </div>
    <div class="row column">
      <div class="col-sm-6 col-md-6 ">
        <figure class="figure">
          <img
            src="{{ pokemon.image }}"
            class="figure-img img-fluid rounded"
            alt="{{pokemon.name}}"
          />
          <figcaption class="figure-caption text-center">
            <span>{{ nameFigure }}</span>
          </figcaption>
        </figure>
        <div class="pr" >
          <canvas baseChart class="chart"
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType">
         </canvas>
        </div>
      </div>
      <div class="data col-sm-6 col-md-6 offset-md-0">
        <div class="row">
          <h2 class="general-title">Descripción</h2>
          <p class="description-pokemon">{{ pokemon.description }}</p>
        </div>
        <h2 class="general-title title-type">Tipos</h2>
        <div class="container">
          <div *ngFor="let item of pokemon.types">
            <div
              [ngStyle]="{'background-color':tablaTipos.tablaTipos[item.type.name].color}"
              class="type text-center"
            >
              <label>{{ tablaTipos.tablaTipos[item.type.name].nombre }}</label>
            </div>
          </div>
        </div>
        <h2 class="general-title title-version">Versiones</h2>
        <div class="text-center">
          <button class="button-version" (click)="changeToNormal()">
            <img
              src="../../assets/pokemon_normal.png"
              alt="Version normal"
              width="70 rem"
            />
          </button>
          <button class="button-version" (click)="changeToShiny()">
            <img
              src="../../assets/pokemon_shiny.png"
              alt="Version shiny"
              width="70 rem"
            />
          </button>
        </div>
        <h2 class="general-title">Datos extra</h2>
        <div class="row ">
          <div class="col-sm-5 col-md-6">
            <h3 class="general-title">Altura</h3>
            <p class="description-pokemon">{{ pokemon.height }} Metros</p>
          </div>
          <div class="col-sm-6 col-md-4 offset-md-2 col-lg-6 offset-lg-0">
            <h3 class="general-title">Peso</h3>
            <p class="description-pokemon">{{ pokemon.weight }} Kg</p>
          </div>
        </div>
        <div class="row ">
          <h2 class="general-title">Tabla tipos</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col-xs-12 col-sm-8 col-md-6 col-lg-4">Tipo</th>
                  <th scope="col-xs-4 col-sm-8 col-md-6 col-lg-4">
                    Debil contra
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let type of tablaCorrespondiente">
                  <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div
                      [ngStyle]="{'background-color': type.color}"
                      class="debil text-center"
                    >
                      <label>{{ type.nombre }}</label>
                    </div>
                  </th>
                  <div class="row">
                    <td
                      class="col-xs-8 col-sm-8 col-md-8 col-lg-6"
                      *ngFor="let debil of type.debilContra"
                    >
                      <div
                        [ngStyle]="{'background-color':tablaTipos.tablaTipos[debil].color}"
                        class="debil text-center"
                      >
                        <label>{{ tablaTipos.tablaTipos[debil].nombre }}</label>
                      </div>
                    </td>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 text-center container cadena-evolucion ">
      <div class="row evolucion">
        <h2 class="title-evolution">Cadena de evolución de {{ pokemon.name }}</h2>
        <div class="col">
          <h3 class="texto-evolucion" >Forma base pokemon</h3>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mt-5 ">
              <div class="card">
                <h4 class="detalles-card">№ {{ pokemonBase.id }}</h4>
                <a href="/detalles-pokemon/{{ pokemonBase.id }}">
                  <img
                    src="{{ pokemonBase.image }}"
                    class="card-img-top"
                    alt="{{ pokemonBase.name }}"
                /></a>
                <div class="card-body">
                  <h5 *ngIf="pokemonBase.name[0]!= undefined" class="card-title detalles-card">{{pokemonBase.name[0].toUpperCase()+ pokemonBase.name.substring(1)}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" *ngIf="primerasEvoluciones.length != 0">
          <h3 class="texto-evolucion" *ngIf="primerasEvoluciones.length > 1">Primeras evoluciones</h3>
          <h3  class="texto-evolucion" *ngIf="primerasEvoluciones.length == 1">Primera evolución</h3>
          <div class="row">
            <div class=" mt-5"
              [ngClass]="{
                'col-sm-2 col-md-12 col-lg-12':
                  (primerasEvoluciones.length > 1 &&
                  segundasEvoluciones.length == 0) || primerasEvoluciones.length == 1,
                'col-sm-2 col-md-12 col-lg-8':
                  primerasEvoluciones.length > 1 &&
                  segundasEvoluciones.length != 0,
              }"
              *ngFor="let pokemon of primerasEvoluciones" 
            >
              <div class="card">
                <h4 class="detalles-card"> № {{ pokemon.id }}</h4>
                <a href="/detalles-pokemon/{{ pokemon.id }}"
                  ><img
                    src="{{ pokemon.image }}"
                    class="card-img-top"
                    alt="{{ pokemon.name }}"
                /></a>
                <div class="card-body">
                  <h5 *ngIf="pokemon.name[0]!= undefined" class="card-title detalles-card">{{pokemon.name[0].toUpperCase()+ pokemon.name.substring(1)}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" *ngIf="segundasEvoluciones.length != 0">
          <h3 class="texto-evolucion" >Segunda evolución</h3>
          <div class="row">
            <div class=" mt-5"
              [ngClass]="{
                'col-sm-12 col-md-12 col-lg-8 ': segundasEvoluciones.length > 1,
                'col-sm-12 col-md-12 col-lg-12': segundasEvoluciones.length == 1
              }"
              *ngFor="let pokemon of segundasEvoluciones"
            >
              <div class="card">
                <h4 class="detalles-card"> № {{ pokemon.id }}</h4>
                <a href="/detalles-pokemon/{{ pokemon.id }}"
                  ><img
                    src="{{ pokemon.image }}"
                    class="card-img-top"
                    alt="{{ pokemon.name }}"
                /></a>
                <div class="card-body">
                  <h5  *ngIf="pokemon.name[0]!= undefined" class="card-title detalles-card">{{pokemon.name[0].toUpperCase()+ pokemon.name.substring(1)}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
